In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

# import numpy as np # linear algebra
# import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

1. Libraries ðŸ“š

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing

**2. The data**

In [3]:
data = pd.read_csv('kickstarter201801.csv')
data.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_realised at deadline,usd_goal_real_at_start
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,09/10/2015,1000.0,11/08/2015 12:12,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,01/11/2017,30000.0,02/09/2017 04:43,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,26/02/2013,45000.0,12/01/2013 00:20,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,16/04/2012,5000.0,17/03/2012 03:24,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,29/08/2015,19500.0,04/07/2015 08:35,1283.0,canceled,14,US,1283.0,1283.0,19500.00

Data: 
******y: state (failed, canceled, succesful, live, suspended, etc ..)

X:

ID: project identifier

name: project name

category: sub-category of the project

main_category: project category

currency: currency of the request.

deadline: project expiration date

goal: money to be obtained in the project

launched: project start date

pledged: money requested by the community

backers: number of money donors

country: country of origin of the project

usd_pledged: conversion of pledged column into dollars

usd_pledged_real: dollar conversion of pledged column by Fixer.io API

usd_goal_real: dollar conversion of goal column by Fixer.io API

Cleaninig the data

In [4]:
X=data
X[X.state!='live']

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_realised at deadline,usd_goal_real_at_start
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,09/10/2015,1000.0,11/08/2015 12:12,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,01/11/2017,30000.0,02/09/2017 04:43,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,26/02/2013,45000.0,12/01/2013 00:20,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,16/04/2012,5000.0,17/03/2012 03:24,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,29/08/2015,19500.0,04/07/2015 08:35,1283.0,canceled,14,US,1283.0,1283.0,19500.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378656,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,17/10/2014,50000.0,17/09/2014 02:35,25.0,canceled,1,US,25.0,25.0,50000.00
378657,999977640,The Tribe,Narrative Film,Film & Video,USD,19/07/2011,1500.0,22/06/2011 03:35,155.0,failed,5,US,155.0,155.0,1500.00
378658,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,16/08/2010,15000.0,01/07/2010 19:40,20.0,failed,1,US,20.0,20.0,15000.00
378659,999987933,BioDefense Education Kit,Technology,Technology,USD,13/02/2016,15000.0,13/01/2016 18:13,200.0,failed,6,US,200.0,200.0,15000.00
378660,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,16/08/2011,2000.0,19/07/2011 09:07,524.0,failed,17,US,524.0,524.0,2000.00

In [5]:

X=X[X.state!='live']
X=X.rename({'usd pledged': 'usd_pledged'}, axis=1)
X=X.drop(['name',"ID"],axis=1)

In [6]:
#Preparing  data Objects and Numbers
X_object = X.select_dtypes(include=object)
X_num = X.select_dtypes(include=np.number)

In [7]:
dummies = pd.get_dummies(X.main_category, prefix="main_category")
X = X.drop('main_category',axis = 1)
X = X.join(dummies)
dummies = pd.get_dummies(X.category, prefix="category")
X = X.drop('category',axis = 1)
X = X.join(dummies)
dummies = pd.get_dummies(X.country, prefix="country")
X = X.drop('country',axis = 1)
X = X.join(dummies)

Create duration

In [8]:
X

,currency,deadline,goal,launched,pledged,state,backers,usd_pledged,usd_pledged_realised at deadline,usd_goal_real_at_start,...,country_JP,country_LU,country_MX,"country_N,0""",country_NL,country_NO,country_NZ,country_SE,country_SG,country_US
0,GBP,09/10/2015,1000.0,11/08/2015 12:12,0.0,failed,0,0.0,0.0,1533.95,...,0,0,0,0,0,0,0,0,0,0
1,USD,01/11/2017,30000.0,02/09/2017 04:43,2421.0,failed,15,100.0,2421.0,30000.00,...,0,0,0,0,0,0,0,0,0,1
2,USD,26/02/2013,45000.0,12/01/2013 00:20,220.0,failed,3,220.0,220.0,45000.00,...,0,0,0,0,0,0,0,0,0,1
3,USD,16/04/2012,5000.0,17/03/2012 03:24,1.0,failed,1,1.0,1.0,5000.00,...,0,0,0,0,0,0,0,0,0,1
4,USD,29/08/2015,19500.0,04/07/2015 08:35,1283.0,canceled,14,1283.0,1283.0,19500.00,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378656,USD,17/10/2014,50000.0,17/09/2014 02:35,25.0,canceled,1,25.0,25.0,50000.00,...,0,0,0,0,0,0,0,0,0,1
378657,USD,19/07/2011,1500.0,22/06/2011 03:35,155.0,failed,5,155.0,155.0,1500.00,...,0,0,0,0,0,0,0,0,0,1
378658,USD,16/08/2010,15000.0,01/07/2010 19:40,20.0,failed,1,20.0,20.0,15000.00,...,0,0,0,0,0,0,0,0,0,1
378659,USD,13/02/2016,15000.0,13/01/2016 18:13,200.0,failed,6,200.0,200.0,15000.00,...,0,0,0,0,0,0,0,0,0,1
378660,USD,16/08/2011,2000.0,19/07/2011 09:07,524.0,failed,17,524.0,524.0,2000.00,...,0,0,0,0,0,0,0,0,0,1

In [9]:
from datetime import timedelta
from datetime import datetime 
import datetime as dt
tiempo = np.array(X['deadline'])
endtime=np.array([datetime.strptime(t, '%d/%m/%Y') for t in tiempo ])
X['deadline']=endtime
tiempo = np.array(X['launched'])
starttime=np.array([datetime.strptime(t, '%d/%m/%Y %H:%M') for t in tiempo])
X['launched']=starttime
X['duration'] = (endtime-starttime)

In [10]:
tiempo =X['duration']
duration=np.array([t.days for t in tiempo])

In [11]:
X['duration']=duration
X = X.drop('deadline',axis = 1)
X = X.drop('launched',axis = 1)

In [12]:
def missing_data(data):
#source>
#https://www.kaggle.com/ajaykgp12/ecommerce-eda/notebook

        test = data.isnull().sum()
        total = test.sort_values(ascending = False)
        percent= (data.isnull().sum() * 100 / data.isnull().count() ).sort_values(ascending = False)
        df = pd.concat([total, percent], axis = 1, keys = ['Total', 'Percent'])
    
        return df[df['Total'] != 0]

missing_data(X)

             Total   Percent
usd_pledged   3796  1.009945

Clean redundant and duplicate data by definition.

goal: money to be obtained in the project pledged: money requested by the community

currency: currency of the request.

backers: number of money donors

usd_pledged: conversion of pledged column into dollars

usd_pledged_real: dollar conversion of pledged column by Fixer.io API

usd_goal_real: dollar conversion of goal column by Fixer.io API

deadline: project expiration date launched: project start date

In [13]:
#realmente no se puede predecir muy bien
X = X.drop(['usd_pledged'], axis =1)
X = X.drop(['goal','pledged','currency'],axis = 1)

In [14]:
y=X.state
y=y.replace(['canceled','suspended','undefined'],'failed')
   
X=X.drop("state",axis=1)

In [15]:
#definition of data later we do cross validation.
from sklearn.model_selection import train_test_split
# Test-train split. Consider a test set of (+ -) 30%.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

# Model with Naive Bayes Gaussian to predict the status of the project.

In [16]:
#y= pd.get_dummies(y)

#y=y.drop('failed',axis=1)

In [17]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

y_prima = model.fit(X_train, y_train).predict(X_test)
from sklearn.metrics import accuracy_score
print("Accuracy:",accuracy_score(y_test, y_prima))

Accuracy: 0.7421137115440896

In [18]:
# 10-k-fold CV
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, X, y, cv=10)

print("CV:",scores)
print("Accuracy:",scores.mean())

CV: [0.74137335 0.73820736 0.74163252 0.74392061 0.75525462 0.74227106
 0.74008939 0.74368116 0.73907838 0.74160592]
Accuracy: 0.7427114362243759

In [19]:
class_names = (model.classes_)
from sklearn.metrics import classification_report
print(classification_report(y_test, y_prima, target_names=class_names))
from sklearn.metrics import accuracy_score
print("Acc:",accuracy_score(y_test, y_prima))

from sklearn.metrics import plot_confusion_matrix

 
plot_confusion_matrix(model, X,y,
                             display_labels=class_names,
                             cmap=plt.cm.Blues,
                             normalize=None)

              precision    recall  f1-score   support

      failed       0.72      0.99      0.83     72634
  successful       0.92      0.30      0.45     40125

    accuracy                           0.74    112759
   macro avg       0.82      0.64      0.64    112759
weighted avg       0.79      0.74      0.70    112759

Acc: 0.7421137115440896

C:\Users\w1109\Desktop\venvs\ML_Lab\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function plot_confusion_matrix is deprecated; Function `plot_confusion_matrix` is deprecated in 1.0 and will be removed in 1.2. Use one of the class methods: ConfusionMatrixDisplay.from_predictions or ConfusionMatrixDisplay.from_estimator.
  warnings.warn(msg, category=FutureWarning)

KeyboardInterrupt

# KNN model to predict project status.

In [ ]:
X_train

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
error_rate = []
k=[1, 3, 5, 7, 9]
preds_kNN=[]

In [ ]:
for i in range(len(k)):
    kNN=(KNeighborsClassifier(n_neighbors=k[i]).fit(X_train, y_train))
    # Lo evaluamos contra el grid de posiciones generadas anteriormente
    preds_kNN.append(kNN.predict(X_test))
    error_rate.append(np.mean(kNN.predict(X_test) != y_test))

In [ ]:
plt.figure(figsize=(10,6))
plt.plot(k,error_rate,color='blue', linestyle='dashed', marker='o',
         markerfacecolor='red', markersize=10)
plt.title('Error Rate vs. K Value')
plt.xlabel('K')
plt.ylabel('Error Rate')

In [ ]:
kNN=(KNeighborsClassifier(n_neighbors=3).fit(X_train, y_train))

In [ ]:
# 10-k-fold CV
scores = cross_val_score(kNN, X_test, y_test, cv=10)

#print("CV:",scores)
print("Accuracy:",scores.mean())

In [ ]:
class_names = (kNN.classes_)
y_prima =(kNN.predict(X))
from sklearn.metrics import classification_report
print(classification_report(y, y_prima, target_names=class_names))
from sklearn.metrics import accuracy_score
print("Acc:",accuracy_score(y, y_prima))

from sklearn.metrics import plot_confusion_matrix

 
plot_confusion_matrix(kNN, X,y,
                             display_labels=class_names,
                             cmap=plt.cm.Blues,
                             normalize=None)

# LogisticRegression

In [ ]:
from sklearn.linear_model import LogisticRegression

model=LogisticRegression()
model.fit(X_train, y_train)
# lo evaluamos contra los mismos datos de entrada
print((model.predict(X_test) == y_test).sum(), ' / ', y_test.shape[0], ' clasificados correctamente en aprendizaje')

In [ ]:
y_prima = model.fit(X_train, y_train).predict(X_test)
from sklearn.metrics import accuracy_score
print("Accuracy:",accuracy_score(y_test, y_prima))

In [ ]:
# 10-k-fold CV
scores = cross_val_score(model, X, y, cv=10)

#print("CV:",scores)
print("Accuracy:",scores.mean())

In [ ]:
class_names = (model.classes_)
from sklearn.metrics import classification_report
print(classification_report(y_test, y_prima, target_names=class_names))
from sklearn.metrics import accuracy_score
print("Acc:",accuracy_score(y_test, y_prima))

from sklearn.metrics import plot_confusion_matrix

 
plot_confusion_matrix(model, X,y,
                             display_labels=class_names,
                             cmap=plt.cm.Blues,
                             normalize=None)